body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Стили отображения pdf*/
.rpv-default-layout__main {
  width: 100%;
}

.rpv-default-layout__container {
  border: none!important;
}

/*Стили отображения tiff*/
#tiff-inner-container canvas {
  max-width: 100%;
}
