@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("./Roboto-Regular.ttf") format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Neucha';
  src: local('Neucha'), url("./Neucha-Regular.ttf") format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Santello';
  src: local('Santello'), url("./SANTELLO.ttf") format('truetype');
  font-weight: 100;
}
